.y2k-footer {
  padding: 0.05rem 0.6rem 3.5rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, black 100%);
  border-top: 3px solid white;
  text-align: center;
  backdrop-filter: blur(5px);
  line-height: 1;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.footer-links a {
  color: #ff66ff;
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: 0.8rem;
}

.footer-links a:hover {
  color: white;
  text-decoration: underline;
  text-shadow: 0 0 10px #ff66ff;
}

.footer-copyright {
  text-align: center;
  font-size: 0.5rem;
  line-height: 1;
  color: white;
  margin: 0 auto;
  flex: 1;
}

.blink-text {
  animation: blinker 1s step-start infinite;
  color: #ff66ff;
}

.footer-buttons {
  display: flex;
  gap: 0.5rem;
  filter: drop-shadow(0 0 5px #ff66ff);
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}
